* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-size: 1.6rem;
}
#container {
  min-height: 100vh;
  background-color: bisque;
}
header {
  background-color: #3f322b;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-inner {
  width: 890px;
}
nav > button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  margin: 25px;
  cursor: pointer;
  color: bisque;
}
#content {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  margin: 0 auto;
  max-width: 900px;
}
#content h1,
p {
  margin: 25px;
}
ul {
  margin-left: 45px;
}
.image-div {
  max-width: 500px;
  padding: 25px;
}
.image-div img {
  max-width: 400px;
}
/* menu styling */
#menu {
  display: flex;
  flex-wrap: wrap;
}
section {
  padding: 25px;
  max-width: 450px;
}
section p {
  margin-left: 0;
  padding: 0;
}
.menu-item-container {
  display: flex;
  justify-content: space-between;
}
.menu-item {
  font-weight: bold;
}
.menu-desc {
  font-style: italic;
}
.price {
  margin-top: 25px;
  justify-content: flex-end;
}
/* about */
.about-container {
  display: flex;
}
.img-container {
  align-self: center;
}
.img-container img {
  max-width: 400px;
  transform: rotate(90deg);
}
